{% extends 'main/base.html' %}

{% block head_block %}
<link rel="stylesheet" href="http://127.0.0.1:8000/static/css/login_patches.css">
{% endblock %}

{% block body_block %}
<h1>Login to the Kitchen Accelerator</h1>
<br>

<form id="login_form" method="post" action=".">
    {% csrf_token %}
    {{ form.as_p }}
        <input type="submit" class="btn btn-outline-primary" value="submit" />
        <input type="hidden" name="next" value="{{next}}" />
    </form>
    <br>
<p>
    Not a member? <a href="{% url 'registration_register' %}">Register</a>
</p>
{% endblock %}
