{% extends 'main/base.html' %}

{% block title_block %}
About
{% endblock %}

{% block header_title_block %}About{% endblock %}

{% block body_block %}
<p> A simple, light-weight web application for accelerating communal kitchens.
    The Kitchen Accelerator is equipped with an arsenal of utilities such a hob-booking,
    meal-time estimates and fridge space allocation in a sleek interface. The app scales
    seamlessly kitchens of different sizes and eliminates copious amounts of stress when
    waiting for the time and space to prepare your meals. </p>

<h3> Contributors </h3>
<ul>
    <li> Xavier Weiss: <a href="https://github.com/DEUCE1957">GitHub</a></li>
    <li> Judita Beinortaite: <a href="https://github.com/judita21">GitHub</a></li>
    <li> Albert Iho: <a href="https://github.com/alppucodes"> GitHub</a> </li>
    <li> Thomas Hickman: <a href="https://github.com/ThomasHickman"> GitHub</a> </li>
    <li> Amanda Matthes: <a href="https://github.com/amanda-matthes"> GitHub</a> </li>
</ul>

{% endblock %}