{% extends 'main/base.html' %}

{% load staticfiles %}

{% block head_block %}
<link rel="stylesheet" href="{% static "css/editUser.css" %}">
{% endblock %}

{% block body_block %}
<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Name:</label>
            <input type="email" class="form-control" placeholder="Enter your name"
            value="Tom Hickman">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Email address:</label>
            <input type="email" class="form-control" placeholder="Enter your name" value="me@mail.com">
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1">Profile Picture:</label>
            <p>
                <div class="profile-pic" style="background-image: url(images/expanded_photo_tkh.jpg)">
                    &nbsp;
                </div>
                <input type="file" />
            </p>
        </div>
        <br />
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
</div>
{% endblock %}