{% extends 'main/base.html' %}

{% load staticfiles %}

{% block head_block %}
<link rel="stylesheet" href="{% static "css/invite.css" %}">
{% endblock %}


{% block body_block %}
<div class="top-bar">
    <div class="container">
        <h1 class="title"> Invite users to Kitchen 22 </h1>
    </div>
</div>
<div class="container">
    <form>
        <div class="form-group">
            <label for="exampleInputEmail1">Email addresses: </label>
            <input type="email" class="form-control" placeholder="Enter email">
            <input type="email" class="form-control" placeholder="Enter email">
            <input type="email" class="form-control" placeholder="Enter email">
            <input type="email" class="form-control" placeholder="Enter email">
            <input type="email" class="form-control" placeholder="Enter email">
        </div>
        <br />
        <button type="submit" class="btn btn-outline-primary">Submit</button>
    </form>
</div>
{% endblock %}