{% extends 'main/base.html' %}

{% load staticfiles %}

{% block title_block %}
Kitchen List
{% endblock %}

{% block body_block %}
    <h1> List of Kitchens </h1>
    <hr>
    <div>
        {% if kitchens %}
        <ul>
            {% for kitchen in kitchens %}
                <li> <a href="{% url 'kitchen' kitchen.slug %}"> {{kitchen.name}}</a> </li>
            {% endfor %}
        </ul>
        {% else %}
            <strong> There are no kitchens available </strong>
        {% endif %}
    </div>

    <div>
        <a href="/main/about"> About </a>
    </div>
{% endblock %}