{% extends 'main/base.html'%}

{% block body_block %}
    <!-- {% if fridges %}
        <ul>
        {% for fridge in fridges %}
            <li>
                Name: {{ fridge.name }} </br>
                Contents:  </br>
                {% for shelf in fridge %}
                    Shelf no: {{ forloop.counter0 }}, {{ shelf }}  </br>
                    {% for cell in shelf %}
                        Status: {{ cell.status }}  </br>
                        Owner: {{cell.owner }}  </br>
                    {% endfor %}
                {% endfor %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

    {% if hobs %}

    {% endif %}

    {% if ovens %}

    {% endif %}

    {% if members %}

    {% endif %} -->
{% endblock %}
