<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
    <title> Login </title>
</head>

<h1>Login to the Kitchen Accelerator</h1>

<form id="login_form" method="post" action="{% url 'login' %}">
    {% csrf_token %}
    <div class='error'>
        <ul>
            <li>{{form.errors.username}}</li>
            <li>{{form.errors.password}}</li>
        </ul>
    </div>
    Username: <input type="text" name="username" value="" size="50" />
    <br />
    Password: <input type="password" name="password" value="" size="50" />.
    <br />
    <input type="submit" value="submit" />
</form>

</html>