.top-bar {
    background-color: #404040;
    padding-top: 7px;
    padding-bottom: 2px;
    margin-bottom: 15px;
}

.title {
    display: inline-block;
}

body {
    background-color: #121212;
    color: #ffffff;
    text-shadow: 0px 0px 1px #c78989;
    font-family: 'Montserrat', sans-serif;
}

input[type=email]{
    max-width: 400px;
}

hr {
    background-color: #565656;
}

.box{
    border: solid 1px #383838;
    padding: 10px;
    border-radius: 4px;
    background-color: #444343;
    overflow: overlay;
}

.col-, .col-lg{
    padding-right: 10px;
    padding-left: 10px;
}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    display: inline-block;
    vertical-align: middle;
}