body {
    background-color: #121212;
    color: #ffffff;
    text-shadow: 0px 0px 1px #c78989;
    font-family: 'Montserrat', sans-serif;
}

#info-panel {
    border: solid 2px black;
    padding: 5px
}


.kitchen-unit{
    background-color: antiquewhite;
    width: 80px;
    height: 80px;
    margin: 3px;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    /* color: black; */
}

.kitchen-group {
    border: solid 2px black;
    display: inline-block;
    border-radius: 3px;
    margin: 5px;
    background-color: #2b272b;
}

.status-box{
    margin-top: 10px;
    border: solid 1px #383838;
    padding: 10px;
    border-radius: 4px;
    background-color: #444343;
    overflow: overlay;
}

.broken {
    background-color: #7d7d7d;
    border: solid 3px #a9a8a8;
}

.free {
    background-color: #42ff42;
    border: solid 3px #9dff9d;
}

.taken {
    background-color: #ff4444;
    border: solid 3px #fd8686;
}

.fridge {
    background-color: #2d2d2d;
    padding: 5px;
    display: inline-block;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    border: solid 2px black;
    color: white;
}

.fridge-slot {
    margin: 1px;
    border-radius: 3px;
    flex: 1 1 0;
}

.fridge-row{
    display: flex;
}

.top-bar {
    background-color: #404040;
    padding-top: 7px;
    padding-bottom: 2px;
    margin-bottom: 15px;
}

#kitchen-title {
    display: inline-block;
}

.infobox {
    float: right;
}