input[type=text], input[type=password], input[type=email]{
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    width: 300px;
    display: inline-block;
}

label {
    width: 150px;
    vertical-align: middle;
}

form {
    padding-left: 10px;
}

.helptext, ul {
    display: block;
    padding-left: 10px;
    color: grey;
    font-size: 13px;
    padding-top: 8px;
    list-style-type: lower-roman;
}