body {
    background-color: #121212;
    color: #ffffff;
    text-shadow: 0px 0px 1px #c78989;
    font-family: 'Montserrat', sans-serif;
}

#info-panel {
    border: solid 2px black;
    padding: 5px
}


.hob{
    width: 80px;
    height: 80px;
    margin: 3px;
    padding: 5px;
    text-align: center;
    border-radius: 54px;
    display: inline-table;
    vertical-align: top;
}

.hob div {
    display: table-cell;
    vertical-align: middle;
}

.hob-line {
    display: block;
}

.hob-group {
    border: solid 2px black;
    display: inline-block;
    border-radius: 3px;
    margin: 5px;
    background-color: #2b272b;
    vertical-align: top;
}

.oven {
    width: 130px;
    height: 80px;
    margin: 3px;
    padding: 5px;
    text-align: center;
    border-radius: 3px;
    display: inline-table;
}

.oven div {
    display: table-cell;
    vertical-align: middle;
}

.broken {
    background-color: #7d7d7d;
    border: solid 3px #a9a8a8;
}

.free {
    background-color: #42ff42;
    border: solid 3px #9dff9d;
}

.taken {
    background-color: #ff4444;
    border: solid 3px #fd8686;
}

.fridge {
    background-color: #2d2d2d;
    padding: 5px;
    display: inline-block;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
    border: solid 2px black;
    color: white;
}

.fridge-slot {
    margin: 1px;
    border-radius: 3px;
    flex: 1 1 0;
}

.fridge-row{
    display: flex;
}

.top-bar {
    background-color: #404040;
    padding-top: 7px;
    padding-bottom: 2px;
    margin-bottom: 15px;
}

.title {
    display: inline-block;
}

.infobox {
    padding-right: 25px;
    vertical-align: middle;
    display: inline-block;
}

.status_box {
    margin-top: 10px;
}

.profile {
    border: solid 3px black;
    padding: 5px;
    display: inline-block;
    border-radius: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.profile .profile-pic {
    padding-right: 5px;
}

.lower-region{
    padding-top: 20px;
}

#people-carousel {
    height: 120px;
}

.carousel-indicators {
    margin-top: 10px;
    position: static;
}

.people-slide {
    grid-template-columns: auto auto auto auto auto;
    display: grid;
}